.card {
  position: relative;
  background-color: white;
  max-width: 282px;
  min-height: 361px;
  border-radius: 10px;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  display: block;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__text {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 221px;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like_button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-button_active {
  background: url(../images/like_button-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__top {
  position: relative;
  display: block;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  display: block;
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  gap: 0px;
  border: none;
  padding: 0;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
